body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-image: url('images/nini.avif');
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    position: relative; /* Added for burger menu positioning */
  }

  .logo img {
    height: 100px; /* Reduced logo size for better responsiveness */
    width: auto;
  }

  nav {
    display: flex;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  nav ul li a:hover {
    background-color: #007BFF;
    color: #fff;
    transform: translateY(-2px);
  }

  nav ul li a i {
    margin-right: 10px;
  }

  .hero {
    text-align: center;
    padding: 100px 20px;
    background-image: url('images/NANA.avif');
    color: #fff;
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    margin-bottom: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hero h1 {
    font-size: 3em;
    margin: 0;
  }

  .hero p {
    font-size: 1.5em;
    margin: 20px 0;
  }

  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #007BFF;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .cta-button:hover {
    background-color: #e0e0e0;
    color: #ff0000;
    transform: translateY(-2px);
  }

  .about, .services, .portfolio, .contact, .testimonials {
    padding: 60px 20px;
    text-align: center;
    margin-bottom: 60px;
  }

  .about h2, .services h2, .portfolio h2, .contact h2, .testimonials h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  .about h2 i, .services h2 i, .portfolio h2 i, .contact h2 i, .testimonials h2 i {
    margin-right: 10px;
  }

  .about-card {
    display: flex;
    align-items: stretch; /* Align items to stretch to full height */
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #ffffff;
    margin: 40px auto;
    width: 80%;
  }

  .about-card img {
    width: 50%;
    height: auto;
    border-radius: 20px;
    object-fit: cover; /* Ensure the image covers the container */
  }

  .about-card .description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px; /* Add spacing between image and text */
  }

  .about-card .description p, .description li {
    text-align: center;
    margin: 15px 0;
    font-size: 1.1em;
  }

  .about-card .description .social-links a {
    text-align: center;
    margin: 10px 15px;
    font-size: 2.5em;
  }

  .about-social-links, .language-icons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Ajustez l'espacement entre les icônes si nécessaire */
    margin-top: 20px; /* Ajustez la marge supérieure si nécessaire */
  }

  .about-social-links a, .language-icons a {
    font-size: 5em; /* Augmenter la taille des icônes */
    color: #007BFF; /* Couleur des icônes */
    transition: color 0.3s ease;
  }
  

  .about-social-links a:hover, .language-icons a:hover {
    color: #0056b3; /* Couleur des icônes au survol */
  }

  .services {
    background-image: url('images/NANA.avif');
    border-radius: 20px;
  }

  .services h2 {
    color: white;
  }

  .services-container, .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .service-card, .portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(33.333% - 40px);
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .service-card:hover, .portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 20px #d1d9e6, -10px -10px 20px #ffffff;
  }

  .service-card i, .portfolio-item img {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .service-content h3, .portfolio-content h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .service-content p, .portfolio-content p {
    font-size: 1.1em;
    margin-bottom: 15px;
  }

  .portfolio-link {
    display: inline-flex;
    align-items: center;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .portfolio-link:hover {
    background-color: #0056b3;
  }

  .portfolio-link i {
    margin-right: 8px;
  }

  .contact {
    border-radius: 20px;
    padding: 60px 20px;
    text-align: center;
    background-image: url('images/NENE.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
  }

  .contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    margin: 0 auto;
  }

  .contact label {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: white;
  }

  .contact label i {
    margin-right: 10px;
    color: white;
  }

  .contact input, .contact textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px #d1d9e6, inset -5px -5px 10px #ffffff;
    transition: box-shadow 0.3s ease;
    color: #333;
  }

  .contact input:focus, .contact textarea:focus {
    box-shadow: inset 1px 1px 2px #d1d9e6, inset -1px -1px 2px #ffffff;
    outline: none;
    border-color: #007BFF;
  }

  .contact button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #ffffff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }

  .contact button:hover {
    background-color: #0056b3;
    box-shadow: 4px 4px 8px #d1d9e6, -4px -4px 8px #ffffff;
  }

  footer {
    text-align: center;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  footer .social-links a {
    font-size: 3em; /* Augmenter la taille des icônes sociales */
    margin: 0 10px;
    color: #007BFF;
  }

  a:focus, button:focus, input:focus, textarea:focus {
    outline: 2px solid #007BFF;
    outline-offset: 2px;
  }

  /* Burger Menu Styles and Mobile Adjustments */
  .burger-menu-icon {
    display: none;
    cursor: pointer;
    font-size: 2em;
    color: white;
  }
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    header {
      flex-direction: column;
      align-items: center; /* Centrer les éléments du header en mode mobile */
    }
  
    .logo {
      margin-bottom: 10px; /* Ajouter un peu d'espace entre le logo et le burger menu */
    }
  
    .burger-menu-icon {
      display: block;
      font-size: 2em;
      color: white;
      position: static; /* Le positionner statiquement pour qu'il soit centré */
      margin-bottom: 10px; /* Ajouter de l'espace sous l'icône burger */
    }
  
    nav {
      display: none;
      width: 100%;
      text-align: center; /* Centrer le texte du menu */
    }
  
    nav.active {
      display: block;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center; /* Centrer les éléments de la liste du menu */
      padding: 0; /* Supprimer le padding par défaut de la liste */
    }
  
    nav ul li {
      margin-bottom: 10px;
      width: 100%; /* Occuper toute la largeur disponible */
    }
  
    nav ul li a {
      display: block; /* Rendre les liens block pour qu'ils prennent toute la largeur */
      text-align: center;
    }
  
    .hero {
      padding: 60px 10px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    .hero h1 {
      font-size: 2em;
    }
  
    .hero p {
      font-size: 1.2em;
    }
  
    .about, .services, .portfolio, .contact, .testimonials {
      padding: 30px 10px;
      margin-bottom: 30px;
    }
  
    .about h2, .services h2, .portfolio h2, .contact h2, .testimonials h2 {
      font-size: 2em;
    }
  
    .about-card {
      flex-direction: column;
      text-align: center;
      width: 95%;
    }
  
    .about-card img {
      width: 70%; /* Réduire la taille de l'image en mode responsive */
      height: auto;
      margin: 0 auto 20px; /* Centrer l'image horizontalement et ajouter une marge en dessous */
    }
  
    .about-card .description {
      text-align: center; /* Centrer le texte de la description */
    }
  
    .about-card .description p {
      text-align: center;
      font-size: 1.1em; /* Ajustement de la taille de la police des paragraphes */
      line-height: 1.4; /* Ajustement de la hauteur de ligne pour une meilleure lisibilité */
      margin-bottom: 10px; /* Réduire la marge en dessous des paragraphes */
    }
  
    .about-card .description ul {
      padding-left: 20px; /* Ajuster le padding de la liste dans "À Propos" */
      margin-bottom: 10px;
    }
  
    .about-card .description li {
      font-size: 1.1em; /* Ajuster la taille de la police des éléments de la liste */
      margin-bottom: 5px;
    }
  
    .services-container, .portfolio-container {
      flex-direction: column;
      align-items: center;
    }
  
    .service-card, .portfolio-item {
      width: 80%;
      padding: 15px; /* Réduire le padding intérieur des cards */
    }
  
    .service-card i, .portfolio-item img {
      font-size: 1.5em; /* Réduire la taille des icônes/images dans les cards */
      margin-bottom: 15px; /* Réduire la marge en dessous des icônes/images */
    }
  
    .service-content h3, .portfolio-content h3 {
      font-size: 1.3em; /* Réduire la taille des titres dans les cards */
      margin-bottom: 8px; /* Réduire la marge en dessous des titres */
    }
  
    .service-content p, .portfolio-content p {
      font-size: 1.1em; /* Ajuster la taille de la police des paragraphes dans les cards */
      line-height: 1.4; /* Ajuster la hauteur de ligne pour une meilleure lisibilité */
      margin-bottom: 10px; /* Réduire la marge en dessous des paragraphes */
    }
  
    .portfolio-link {
      padding: 8px 12px; /* Réduire le padding du lien "Voir le code" */
      font-size: 0.9em; /* Réduire la taille de la police du lien */
    }
  }
  
  @media (max-width: 1000px) {
    .service-card, .portfolio-item {
      width: calc(50% - 40px);
    }
  }
  